/*MENU BAR*/

h1 {
  text-align: center;
  font-family: "Helvetica Narrow", sans-serif;
  font-weight: lighter;
}
h2 {
  text-align: center;
  font-family: "Helvetica Narrow", sans-serif;
  font-weight: lighter;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

}
li {
  display: inline;
}
a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
a:link, a:visited {
  background-color: #D8BFD8;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: #FFCACB;
}

/*main-content*/

.main-content {
}
.front-content {
  margin-left: 50px;
  margin-right: 50px;
  float: left;
  text-align: left;
  text-align: justify;
}

/*GLYPHICONS*/

.glyphicon {
  font-size: 3em;
  float: right;
}

/*text-blocks*/

.text-blocks {
  float: left;
  display: block;
  border: solid;
  border-color: black;
  border-width: 2px;
  background-color: #D5D9D8;
  min-height: 200px;
  max-width: 320px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
